@use '../table.scss';
@use './sidebar.scss';
@use './navbar.scss';
@use '../color.scss';

$dropShadow: 0px 4px 4px color.$lightBlueTransparent;

.dashboard-container {
  font-family: "Work Sans", serif;
}

.dashboard-content {
  background-color: color.$offwhite;
  margin-top: 5em;
  margin-left: 300px;
  padding: 3em;
  position: relative;
  min-height: 100vh;
}

.dashboard-heading {
  margin-bottom: 2em;
}

.dashboard-heading h1 {
  font-weight: 500;
  color: color.$lightBlue;
  font-size: 1.5rem;
}

/** CARDS **/
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
}

.card {
  box-shadow: $dropShadow; 
  background-color: color.$white;
  padding: 2em;
  margin: 1em 0;

  h2 {
    color: color.$grey;
    font-weight: 500;
    font-family: "Work Sans", serif;
    text-transform: uppercase;
    font-size: 0.75rem;
  }

  p {
    color: color.$darkBlue;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5%;
  }
}

/** PROFILE  **/
.profile-container {
  margin-top: 1.5em;
  overflow: scroll;
  background-color: white;
  border-radius: 4px;
  box-shadow: $dropShadow;
  padding: 3em;
  padding-top: 2em;
  padding-bottom: 0;
  font-family: "Work Sans", serif;
}

.profile-container h2 {
  font-weight: 500;
  color: color.$lightBlue;
  font-size: 22px;
  line-height: 0.3em;
}

.profile-container h3 {
  color: color.$grey;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.small-text {
  color: color.$lightBlue;
  font-size: 12px;
}

.profile-menu {
display: flex;
justify-content: space-between;
gap: 1em;
margin-top: 4em;
color: #000;
  .active {
    border-bottom: 0.2em solid color.$teal;
    color: color.$teal;
  }
}

.profile-menu-item {
  padding: 2em;
  padding-bottom: 1em;
  cursor: pointer;
}


.profile-section {
border-bottom: 1px solid rgba(33, 63, 125, 0.10);
font-family: 'Work Sans';
padding-top: 2em;

&:first-child{
 padding-top: 0;
}

&:last-child {
  border-bottom: none;
  padding-bottom: 2em;
}
}

.profile-section h3 {
  color: color.$lightBlue;
  font-size: 1rem;
  font-weight: 500;
}

.profile-section h4 {
  color: color.$grey;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 0.1em;
}

.profile-section p {
  font-weight: 500;
  color: color.$grey;
}

.hidden {
  display: none;
}

/** status **/

.status {
  background-color: rgba(84, 95, 125, 0.1);
  color: color.$lightBlue;
  padding: 1em 2em;
  border-radius: 2em;
  text-transform: capitalize;

  &.pending {
    background-color: rgba(233, 178, 0, 0.1);
    color: color.$yellow;
  }

  &.blacklisted {
    background-color: rgba(228, 3, 59, 0.1);
    color: color.$red;
  }

  &.blocked {
    @extend .blacklisted;
  }

  &.active {
    background-color: rgba(57, 205, 98, 0.1);
    color: color.$green;
  }
}

.back-container {
  display: flex;
  align-content: center;
  gap: 6;
    text-decoration: none;
    color: color.$grey;
    font-size: 1rem;
  
}

