@use '../color.scss';
@use '../media.scss';

.dashboard-navbar {

  display: none;
  
  @include media.respond-to(lg) {
      background-color: color.$white;
      box-shadow: 0px 4px 4px color.$lightBlueTransparent;
      top: 0;
      position: fixed;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 4fr;
      align-items: center;
      padding: 0 2em;
      z-index: 1;
    }
  }
  
  .dashboard-navbar input {
    min-width: 4em;
  }
  
  .dashboard-logo {
    width: fit-content;
  }
  
  .navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-items {
    display: flex;
    gap: 2em;
    align-items: center;
    color: color.$darkBlue;
  
    a {
      font-family: 'Roboto', 'Work Sans', serif;
      font-size: 1rem;
      color: color.$darkBlue
    }
  
    p {
      font-family: "Work Sans", serif;
      font-weight: 500;
    }
  }

  // mobile navigation

  .dashboard-navbar-mobile-container {
     position: fixed;
     background-color: color.$white;   
     width: 100%;
     z-index: 2;
     @include media.respond-to(lg) {
       display: none;
      }
    }
    
    .dashboard-navbar-mobile {
      background-color: color.$white;
      padding: 1em 2em;
      box-shadow: 0px 4px 4px color.$lightBlueTransparent;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      align-items: center;
      display: grid;
      @include media.respond-to(lg) {
        display: none;
      }
  }

  .dashboard-navbar-menu {
      background-color: color.$white;
      padding: 0.5em 2em;
      box-shadow: 0px 4px 4px color.$lightBlueTransparent;

    }

    
    .dashboard-navbar-menu .items-container {
      margin: 0.2em 0;
    }
    
    .dashboard-navbar-mobile-container .items {
    border-bottom: 1px solid color.$grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    &:last-child{
      border-bottom:  0;
    }
  }

.dashboard-navbar-menu a {
  text-decoration: none;
  color: color.$lightBlue
}

.dashboard-navbar-menu .items p {
  color: color.$lightBlue
}