$darkBlue: #213F7D;
$grey: #545F7D;
$teal: #39CDCC;

$colors: (
    blue: $darkBlue,
    grey: $grey,
    green: $teal,
    );
    
    @each $color, $value in $colors {
        .text-#{$color} {
            color: $value;
        }
        
        .bg-#{$color} {
            background-color: $value;
        }
    }
    
