@use './table.scss';

$dashboard-height: 100vh;
$dropShadow: 0px 4px 4px rgba(84, 95, 125, 0.10);
$marginTop: 5em;
$sidebarWidth: 300px;
$colorBlue: #1B3773;

.dashboard-container {
  height: $dashboard-height;
  font-family: "Work Sans", serif;
}

.dashboard-navbar {
  background-color: #FFF;
  box-shadow: $dropShadow;
  top: 0;
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding: 0 2em;
}

.dashboard-navbar input {
  min-width: 4em;
}

.dashboard-logo {
  width: fit-content;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-sidebar {
  background-color: #fff;
  color: $colorBlue;
  font-size: 1rem;
  text-transform: capitalize;
  box-shadow: $dropShadow;
  height: $dashboard-height;
  width: $sidebarWidth;
  position: fixed;
  margin-top: $marginTop;
  padding: 0 2em;
  overflow: scroll;

  p {
    margin-bottom: 3em;
  }

}

.dashboard-sidebar a {
  color: $colorBlue;
  text-decoration: none;
  display: block;
}

.sidebar-heading {
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: "Work Sans", serif;
}

.menu  {
  margin: 2em 0;
}

.menu a {
  margin: 1em 0;
  font-family: "Work Sans", serif;
}

.dashboard-content {
  background-color: #FBFBFB;
  height: $dashboard-height;
  margin-top: $marginTop;
  margin-left: $sidebarWidth;
  padding: 3em;
}

.dashboard-heading {
  font-weight: 500;
  color: $colorBlue;
  font-size: 1.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
}

.card {
  box-shadow: $dropShadow; 
  // border: 1px solid #213F7D;
  background-color: #FFF;
  padding: 2em;

  h2 {
    color: #545F7D;
    font-weight: 500;
    font-family: "Work Sans", serif;
    text-transform: uppercase;
    font-size: 0.75rem;
  }

  p {
    color: #213F7D;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5%;
  }
}