@use './grid.scss';
@use './color.scss';
@use './form/form.scss';
@use './typography.scss';
@use './media.scss';
@use './auth.scss';
@use './dashboard/index.scss';

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.capitalize {
    text-transform: capitalize;
}