@use './color.scss';

.table-container {
    margin-top: 1.5em;
    overflow: scroll;
    background-color: color.$white;
    border-radius: 4px;
    box-shadow: 0px 4px 4px color.$lightBlueTransparent;
    padding: 1em 2em;
    font-family: "Work Sans", serif;
    border-collapse: collapse;
}

table {
    width: 100%;
    background-color: color.$white;

    a {
        color: color.$grey;
        text-decoration: none;
    }
}

th {
    text-align: left;
    padding: 1em 0;
    text-transform: uppercase;
    color: color.$grey;
    font-weight: 500;
    font-size: 0.75rem;
}


td {
    padding: 2em 0;
    color: color.$grey;
    font-size: 0.875rem;
}

tbody tr {
    padding: 1em;
    border-bottom: 1px solid color.$blueTransparent;
    box-shadow: 0 2px 0 color.$blueTransparent;

    &:last-child {
        border-bottom: none;
        box-shadow: none;
    }
}

.table-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    top: 60%;
    right: -0em;
    z-index: 1;
    width: max-content;
    color: color.$grey;
    font-weight: 500;
    font-size: 14px;
}

.table-filter {
    @extend .table-menu;
    top: 0;
    right: -30em;
    padding: 0 2em;
}

.table-menu-item {
    cursor: pointer;
    padding: 1em 2em;
    &:hover {
        background-color: color.$blueTransparent;
    }
    
}

// Styles for the pagination component, including the container and individual pagination items

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    color: color.$grey;
}

.pagination {
    display: flex;
    list-style: none;
    gap: 1em;
    padding: 0;
    align-items: center;
}

.paginate-arrow {
    background-color: color.$blueTransparent;
    color: color.$darkBlue;
    padding: 0.2em;
    display: flex;
    margin: 0 0.2em;
}